---
import "../../assets/services/service-detail-page.css";

interface Props {
  title: string;
  items?: string[];
}

const { title, items = [] } = Astro.props as Props;
---

<section class="service-detail-textarea-list">
  <div class="service-detail-page__container">
    <h2 class="service-detail-textarea-list__title">{title}</h2>

    <div class="service-detail-textarea-list__items">
      {items.map((item) => (
        <p class="service-detail-textarea-list__item">{item}</p>
      ))}
    </div>
  </div>
</section>
